{
  "properties": {
     "router.ssl.keystore.path" : "",
     "dashboard.ssl.key" : "",
     "dashboard.ssl.cert" : "",
     "router.ssl.keystore.type" : "JKS",
     "security.authentication.handler.bindDn" : ""
  }
}
