[submodule "cdap"]
	path = cdap
	url = ../cdap.git
	branch = release/6.5
[submodule "app-artifacts/hydrator-plugins"]
	path = app-artifacts/hydrator-plugins
	url = ../hydrator-plugins.git
	branch = release/2.7
[submodule "security-extensions/cdap-security-extn"]
	path = security-extensions/cdap-security-extn
	url = ../cdap-security-extn.git
	branch = release/0.14
[submodule "app-artifacts/mmds"]
	path = app-artifacts/mmds
	url = ../../cdap-solutions/mmds.git
	branch = release/1.8
[submodule "app-artifacts/delta"]
	path = app-artifacts/delta
	url = ../../data-integrations/delta.git
	branch = release/0.4
[submodule "app-artifacts/bigquery-delta-plugins"]
	path = app-artifacts/bigquery-delta-plugins
	url = ../../data-integrations/bigquery-delta-plugins.git
	branch = release/0.4
[submodule "app-artifacts/database-delta-plugins"]
	path = app-artifacts/database-delta-plugins
	url = ../../data-integrations/database-delta-plugins.git
	branch = release/0.4
[submodule "app-artifacts/datastream-delta-plugins"]
	path = app-artifacts/datastream-delta-plugins
	url = ../../data-integrations/datastream-delta-plugins.git
	branch = release/0.2
