[submodule "cdap"]
	path = cdap
	url = https://github.com/Guavus/cdap.git
	branch = build_guavus_5.1
[submodule "app-artifacts/hydrator-plugins"]
	path = app-artifacts/hydrator-plugins
	url = https://github.com/Guavus/hydrator-plugins.git
	branch = build_guavus_2.1
[submodule "security-extensions/cdap-security-extn"]
	path = security-extensions/cdap-security-extn
	url = https://github.com/Guavus/cdap-security-extn.git
	branch = build_guavus_0.8
[submodule "apache-sentry"]
	path = apache-sentry
	url = git://git.apache.org/sentry.git
	branch = branch-1.7.0
[submodule "app-artifacts/mmds"]
	path = app-artifacts/mmds
	url = https://github.com/Guavus/mmds.git
	branch = build_guavus_1.1_latest
[submodule "app-artifacts/dre"]
	path = app-artifacts/dre
	url = https://github.com/Guavus/dre.git
	branch = build_guavus_1.1_latest
