{%if site_connectivity == 'online' -%}
[CDAP]
baseurl = http://{{ site_default_rpm_repo_host }}/ggn-dev-rpms/cdap-build/{{ cdap_version }}/release/
enabled = 1
gpgcheck = 0
name = CDAP repository
{% else %}
[CDAP]
baseurl = http://{{ site_default_rpm_repo_host }}/raf/rpms/
enabled = 1
gpgcheck = 0
name = CDAP repository
{%- endif %}
