{
  "properties": {
          "twill.jvm.gc.opts" : "-verbose:gc -Xloggc:<LOG_DIR>/gc.log -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=10 -XX:GCLogFileSize=1M",
          "hbase.version.resolution.strategy" : "auto.strict",
          "log.process.pipeline.auto.buffer.ratio" : "0.7",
          "system.log.process.retry.policy.max.time.secs" : "1500",
          "security.authentication.handler.userIdAttribute" : "",
          "mapreduce.retry.policy.type" : "exponential.backoff",
          "security.authentication.handler.userBaseDn" : "",
          "stream.consumer.table.presplits" : "16",
          "stream.size.schedule.polling.delay" : "600",
          "master.collect.containers.log" : "true",
          "flow.retry.policy.max.retries" : "3",
          "messaging.http.server.executor.threads" : "0",
          "router.bypass.auth.regex" : "",
          "dataset.unchecked.upgrade" : "false",
          "metrics.processor.num.instances" : "1",
          "stream.notification.threshold" : "1024",
          "data.tx.memory.mb" : "512",
          "data.tx.prune.state.table" : "${dataset.table.prefix}_system:tephra.state",
          "metrics.kafka.partition.size" : "10",
          "security.authentication.handler.roleObjectClass" : "",
          "worker.retry.policy.max.retries" : "1000",
          "security.authentication.handler.roleMemberAttribute" : "",
          "app.ssl.bind.port" : "30443",
          "log.base.dir" : "/logs/avro",
          "notification.transport.system" : "kafka",
          "scheduler.misfire.threshold.ms" : "60000",
          "security.server.maxthreads" : "100",
          "data.tx.num.cores" : "2",
          "system.log.process.retry.policy.max.retries" : "1500",
          "dataset.table.prefix" : "${root.namespace}",
          "router.ssl.server.port" : "${router.ssl.bind.port}",
          "mapreduce.retry.policy.max.retries" : "1000",
          "program.message.retry.policy.base.delay.ms" : "1000",
          "explore.active.operation.timeout.secs" : "86400",
          "explore.http.timeout" : "20",
          "log.pipeline.cdap.dir.permissions" : "700",
          "log.publish.partition.key" : "program",
          "service.retry.policy.base.delay.ms" : "100",
          "spark.retry.policy.base.delay.ms" : "1000",
          "messaging.http.server.max.request.size.mb" : "10",
          "messaging.topic.default.ttl.seconds" : "604800",
          "master.startup.checks.packages" : "co.cask.cdap.master.startup",
          "security.authentication.handler.userPasswordAttribute" : "",
          "security.token.digest.key.expiration.ms" : "3600000",
          "metrics.dataset.hbase.stats.report.interval" : "60",
          "twill.java.heap.memory.ratio" : "0.6",
          "data.tx.discovery.service.name" : "transaction",
          "router.client.boss.threads" : "1",
          "http.service.boss.threads" : "1",
          "worker.retry.policy.max.delay.ms" : "30000",
          "app.worker.threads" : "10",
          "system.metrics.retry.policy.max.time.secs" : "600",
          "apps.scheduler.queue" : "",
          "kafka.server.log.retention.hours" : "24",
          "data.tx.thrift.max.read.buffer" : "${thrift.max.read.buffer}",
          "log.publish.num.partitions" : "10",
          "log.pipeline.cdap.file.sync.interval.bytes" : "10485760",
          "metrics.data.table.ts.rollTime.60" : "60",
          "metrics.kafka.topic.prefix" : "metrics",
          "mapreduce.jobclient.connect.max.retries" : "2",
          "log.process.pipeline.kafka.fetch.size" : "1048576",
          "data.tx.max.instances" : "${master.service.max.instances}",
          "app.program.runtime.extensions.dir" : "/opt/cdap/master/ext/runtimes",
          "kafka.server.log.flush.interval.messages" : "10000",
          "router.server.worker.threads" : "10",
          "dashboard.ssl.disable.cert.check" : "false",
          "log.pipeline.cdap.file.permissions" : "600",
          "time.event.topic" : "timeevent",
          "messaging.http.server.worker.threads" : "30",
          "service.retry.policy.type" : "none",
          "twill.java.reserved.memory.mb" : "250",
          "app.connection.backlog" : "20000",
          "root.namespace" : "cdap",
          "flow.retry.policy.max.time.secs" : "10",
          "thrift.max.read.buffer" : "16777216",
          "metrics.data.table.retention.resolution.1.seconds" : "7200",
          "system.metrics.retry.policy.max.retries" : "600",
          "metadata.service.worker.threads" : "${http.service.worker.threads}",
          "metrics.max.instances" : "${master.service.max.instances}",
          "security.authentication.handler.debug" : "false",
          "enable.unrecoverable.reset" : "false",
          "market.base.url" : "http://market.cask.co/v2",
          "security.authentication.basic.realmfile" : "",
          "master.services.scheduler.queue" : "",
          "dataset.executor.container.memory.mb" : "512",
          "messaging.twill.java.reserved.memory.mb" : "512",
          "data.tx.server.threads" : "25",
          "stream.index.interval" : "10000",
          "metrics.worker.threads" : "${http.service.worker.threads}",
          "spark.retry.policy.max.delay.ms" : "30000",
          "kerberos.auth.relogin.interval.seconds" : "300",
          "log.cleanup.run.interval.mins" : "1440",
          "dataset.extensions.dir" : "/opt/cdap/ext/lib",
          "stream.partition.duration" : "3600000",
          "data.tx.snapshot.dir" : "${hdfs.namespace}/tx.snapshot",
          "spark.retry.policy.type" : "exponential.backoff",
          "worker.retry.policy.type" : "exponential.backoff",
          "custom.action.retry.policy.max.time.secs" : "600",
          "router.client.worker.threads" : "10",
          "log.process.pipeline.checkpoint.interval.ms" : "10000",
          "explore.cleanup.job.schedule.secs" : "60",
          "messaging.http.server.consume.chunk.size" : "60000",
          "dataset.data.dir" : "data",
          "program.message.retry.policy.max.time.secs" : "600",
          "http.service.worker.threads" : "10",
          "dataset.executor.max.instances" : "${master.service.max.instances}",
          "workflow.token.max.size.mb" : "30",
          "metrics.processor.num.cores" : "1",
          "operational.stats.refresh.interval.secs" : "60",
          "log.process.pipeline.event.delay.ms" : "2000",
          "router.server.boss.threads" : "1",
          "system.metrics.retry.policy.type" : "fixed.delay",
          "app.boss.threads" : "1",
          "twill.location.cache.dir" : ".cache",
          "twill.zookeeper.namespace" : "/twill",
          "system.log.process.retry.policy.base.delay.ms" : "1000",
          "instance.name" : "${root.namespace}",
          "dataset.service.output.dir" : "/datasets",
          "data.tx.hdfs.user" : "${hdfs.user}",
          "spark.retry.policy.max.time.secs" : "600",
          "app.program.metrics.enabled" : "true",
          "worker.retry.policy.max.time.secs" : "600",
          "dataset.executor.container.num.cores" : "1",
          "http.service.exec.threads" : "20",
          "service.retry.policy.max.delay.ms" : "1000",
          "app.exec.threads" : "20",
          "explore.writes.enabled" : "true",
          "stream.event.ttl" : "9223372036854775807",
          "dashboard.bind.address" : "0.0.0.0",
          "security.authorization.extension.jar.path" : "",
          "metrics.kafka.meta.table" : "metrics.kafka.meta",
          "stream.async.queue.size" : "100",
          "security.authorization.enabled" : "false",
          "dataset.executor.container.instances" : "1",
          "messaging.metadata.table.name" : "tms.meta",
          "flow.retry.policy.base.delay.ms" : "100",
          "hdfs.lib.dir" : "${hdfs.namespace}/lib",
          "ssl.external.enabled" : "false",
          "log.kafka.topic" : "logs.user-v2",
          "program.message.retry.policy.max.delay.ms" : "3000",
          "master.collect.app.containers.log.level" : "ERROR",
          "master.manage.hbase.coprocessors" : "true",
          "stream.container.instances" : "1",
          "master.startup.service.timeout.seconds" : "600",
          "namespaces.dir" : "namespaces",
          "cdap.master.kerberos.principal" : "",
          "data.tx.janitor.enable" : "true",
          "security.auth.server.bind.address" : "0.0.0.0",
          "mapreduce.retry.policy.max.time.secs" : "600",
          "security.server.token.expiration.ms" : "86400000",
          "hdfs.namespace" : "/${root.namespace}",
          "metrics.data.table.retention.resolution.3600.seconds" : "2592000",
          "messaging.twill.java.heap.memory.ratio" : "0.6",
          "custom.action.retry.policy.max.retries" : "1000",
          "messaging.message.table.hbase.splits" : "16",
          "security.authorization.cache.max.entries" : "100000",
          "metrics.processor.max.instances" : "${master.service.max.instances}",
          "metrics.topic.prefix" : "metrics",
          "security.keytab.path" : "",
          "metrics.v2.table.scan.enabled" : "false",
          "router.connection.idle.timeout.secs" : "15",
          "data.tx.max.timeout" : "600",
          "messaging.cache.size.mb" : "30",
          "cdap.master.kerberos.keytab" : "",
          "messaging.message.table.name" : "tms.message",
          "workflow.retry.policy.max.time.secs" : "600",
          "explore.executor.container.num.cores" : "1",
          "data.event.topic" : "dataevent",
          "data.tx.client.count" : "50",
          "dashboard.server.address" : "{% raw %}{{cdap_ui_host}}{% endraw %}:${dashboard.bind.port}",
          "audit.enabled" : "true",
          "stream.size.event.topic" : "streamsizeevent",
          "log.pipeline.cdap.file.max.size.bytes" : "104857600",
          "log.process.pipeline.logger.cache.expiration.ms" : "300000",
          "messaging.container.memory.mb" : "512",
          "security.authentication.handler.ldapsVerifyCertificate" : "true",
          "explore.inactive.operation.timeout.secs" : "3600",
          "explore.start.on.demand" : "false",
          "hive.version.resolution.strategy" : "auto.strict",
          "dashboard.bind.port" : "11011",
          "metrics.num.cores" : "2",
          "app.program.spark.compat" : "spark1_2.10",
          "monitor.handler.service.discovery.timeout.seconds" : "1",
          "router.userservice.fallback.strategy" : "random",
          "messaging.container.num.cores" : "2",
          "app.program.runid.corrector.interval" : "180",
          "messaging.hbase.max.scan.threads" : "96",
          "log.process.pipeline.buffer.size" : "0",
          "security.auth.server.bind.port" : "10009",
          "app.output.dir" : "/programs",
          "security.authentication.handler.hostname" : "",
          "data.queue.dequeue.tx.percent" : "30",
          "explore.executor.container.memory.mb" : "2048",
          "master.service.num.cores" : "2",
          "metrics.hbase.max.scan.threads" : "96",
          "router.bind.address" : "0.0.0.0",
          "worker.retry.policy.base.delay.ms" : "1000",
          "metrics.boss.threads" : "${http.service.boss.threads}",
          "custom.action.retry.policy.base.delay.ms" : "1000",
          "dashboard.router.check.timeout.secs" : "0",
          "kafka.server.num.partitions" : "10",
          "master.service.max.instances" : "5",
          "metrics.data.table.retention.resolution.60.seconds" : "2592000",
          "stream.async.worker.threads" : "${stream.worker.threads}",
          "log.saver.container.num.cores" : "2",
          "security.realm" : "cdap",
          "master.service.memory.mb" : "512",
          "metadata.service.exec.threads" : "${http.service.exec.threads}",
          "stream.worker.threads" : "${http.service.worker.threads}",
          "dashboard.ssl.bind.port" : "9443",
          "program.message.retry.policy.max.retries" : "1000",
          "app.temp.dir" : "/tmp",
          "service.retry.policy.max.time.secs" : "10",
          "system.log.process.retry.policy.type" : "fixed.delay",
          "data.queue.table.presplits" : "16",
          "operational.stats.extensions.dir" : "/opt/cdap/master/ext/operations",
          "router.connection.backlog" : "20000",
          "security.token.digest.algorithm" : "HmacSHA256",
          "stream.container.memory.mb" : "512",
          "metrics.messaging.meta.table" : "metrics.messaging.meta",
          "security.authorization.cache.ttl.secs" : "300",
          "program.message.retry.policy.type" : "fixed.delay",
          "log.pipeline.cdap.file.max.lifetime.ms" : "21600000",
          "stream.container.num.cores" : "2",
          "zookeeper.client.startup.timeout.millis" : "60000",
          "data.tx.num.instances" : "1",
          "metrics.num.instances" : "1",
          "metadata.max.allowed.chars" : "50",
          "program.status.event.topic" : "programstatusevent",
          "security.token.distributed.parent.znode" : "/${root.namespace}/security/auth",
          "log.saver.num.instances" : "1",
          "mapreduce.include.custom.format.classes" : "true",
          "security.enabled" : "false",
          "security.authentication.loginmodule.className" : "",
          "workflow.retry.policy.max.delay.ms" : "30000",
          "security.authentication.handler.port" : "",
          "custom.action.retry.policy.type" : "exponential.backoff",
          "metrics.memory.mb" : "512",
          "metrics.messaging.topic.num" : "10",
          "flow.retry.policy.type" : "none",
          "explore.container.yarn.app.classpath.first" : "false",
          "data.tx.client.provider" : "pool",
          "dashboard.ssl.server.address" : "{% raw %}{{cdap_ui_host}}{% endraw %}:${dashboard.ssl.bind.port}",
          "stream.file.prefix" : "file",
          "ssl.internal.enabled" : "false",
          "log.process.pipeline.lib.dir" : "/opt/cdap/master/ext/logging/lib",
          "workflow.retry.policy.max.retries" : "1000",
          "kafka.server.zookeeper.connection.timeout.ms" : "1000000",
          "master.startup.checks.enabled" : "true",
          "http.client.connection.timeout.ms" : "60000",
          "log.process.pipeline.logger.cache.size" : "1000",
          "router.server.address" : "{% raw %}{{cdap_router_host}}{% endraw %}",
          "kafka.server.port" : "9092",
          "zookeeper.session.timeout.millis" : "40000",
          "stream.base.dir" : "/streams",
          "mapreduce.retry.policy.max.delay.ms" : "30000",
          "kerberos.auth.enabled" : "false",
          "remote.system.op.exec.threads" : "${http.service.exec.threads}",
          "data.tx.prune.enable" : "true",
          "data.tx.snapshot.retain" : "10",
          "messaging.table.expiration.seconds" : "300",
          "custom.action.retry.policy.max.delay.ms" : "30000",
          "scheduler.max.thread.pool.size" : "100",
          "security.token.digest.keylength" : "128",
          "workflow.retry.policy.type" : "exponential.backoff",
          "router.server.port" : "${router.bind.port}",
          "app.artifact.dir" : "/opt/cdap/master/artifacts;/opt/cdap/master/artifacts/${app.program.spark.compat}",
          "hdfs.user" : "{% raw %}{{cdap_hdfs_user}}{% endraw %}",
          "messaging.payload.table.hbase.splits" : "16",
          "kafka.server.host.name" : "0.0.0.0",
          "router.ssl.bind.port" : "10443",
          "app.program.jvm.opts" : "-XX:MaxPermSize=128M ${twill.jvm.gc.opts} -Dhdp.version=${hdp.version}",
          "metrics.messaging.fetcher.limit" : "200",
          "stream.batch.buffer.threshold" : "1048576",
          "security.store.provider" : "none",
          "twill.no.container.timeout" : "120000",
          "spark.retry.policy.max.retries" : "1000",
          "service.retry.policy.max.retries" : "3",
          "log.saver.container.memory.mb" : "1024",
          "metrics.exec.threads" : "${http.service.exec.threads}",
          "data.tx.timeout" : "30",
          "kafka.zookeeper.namespace" : "kafka",
          "log.process.pipeline.config.dir" : "/opt/cdap/master/ext/logging/config",
          "mapreduce.retry.policy.base.delay.ms" : "1000",
          "security.auth.server.announce.address" : "",
          "explore.enabled" : "true",
          "audit.kafka.topic" : "audit",
          "security.authentication.handler.userRdnAttribute" : "",
          "log.saver.max.instances" : "${master.service.max.instances}",
          "metrics.connection.backlog" : "${http.service.connection.backlog}",
          "workflow.retry.policy.base.delay.ms" : "1000",
          "metrics.processor.memory.mb" : "512",
          "system.metrics.retry.policy.base.delay.ms" : "1000",
          "http.service.connection.backlog" : "20000",
          "security.authentication.handler.roleBaseDn" : "",
          "data.queue.config.update.interval" : "5",
          "kafka.server.default.replication.factor" : "1",
          "security.authentication.handler.userObjectClass" : "",
          "log.retention.duration.days" : "7",
          "notification.kafka.topic" : "notifications",
          "app.program.spark.yarn.client.rewrite.enabled" : "true",
          "flow.retry.policy.max.delay.ms" : "1000",
          "app.program.extra.classpath" : "/opt/cdap/master/lib",
          "data.tx.snapshot.interval" : "60",
          "security.auth.server.ssl.bind.port" : "10010",
          "security.authorization.extension.extra.classpath" : "",
          "zookeeper.quorum" : "{% raw %}{{cdap_zookeeper_quorum}}{% endraw %}",
          "stream.file.cleanup.period" : "300000",
          "remote.system.op.worker.threads" : "${http.service.worker.threads}",
          "security.authentication.handlerClassName" : "",
          "kafka.seed.brokers" : "{% raw %}{{cdap_kafka_brokers}}{% endraw %}",
          "messaging.payload.table.name" : "tms.payload",
          "stream.container.instance.id" : "0",
          "data.tx.server.io.threads" : "2",
          "kafka.server.log.dirs" : "/data/cdap-kafka/logs",
          "local.data.dir" : "data",
          "metrics.data.table.ts.rollTime.3600" : "24",
          "security.authentication.handler.useLdaps" : "false",
          "router.bind.port" : "11015",
          "security.authentication.handler.roleNameAttribute" : "",
          "metrics.query.bind.port" : "45005"
  }
}
